# classification_exercises - The notebook will contain all your work 
                          # as you move through the exercises

  # and acquire.py - The acquire.py file should contain the final functions

            READ FROM EXTERNAL SOURCE... NOT PYDATA
            get from BAYES REPO - pull in as csv
1 - Use a python module containing datasets as a source from the iris data. 
Create a pandas dataframe, df_iris, from this data.

In [5]:
import pandas as pd
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

df = pd.read_sql('SELECT * FROM measurements', get_connection('iris_db'))

df.head(5)

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,1,5.1,3.5,1.4,0.2,1
1,2,4.9,3.0,1.4,0.2,1
2,3,4.7,3.2,1.3,0.2,1

- print the first 3 rows

In [6]:
print(df.head(3))

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id
0           1
1           1
2           1

- print the number of rows and columns (shape)

In [7]:
print(df.shape)

(150, 6)

- print the column names

In [9]:
# method 1
list(df.columns)

['measurement_id',
 'sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species_id']

In [10]:
# method 2
# iterating the columns 
for col in df.columns: 
    print(col)

measurement_id
sepal_length
sepal_width
petal_length
petal_width
species_id

- print the data type of each column

In [13]:
df.dtypes

measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
dtype: object

- print the summary statistics for each of the numeric variables. 
Would you recommend rescaling the data based on these statistics?
    No, the various measurements are all near scale

In [12]:
df.describe()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000

2 - Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [16]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df_excel = pd.read_excel('Excel_Exercises.xlsx')

print("Column headings:")
print(df.columns)

Column headings:
Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

3 - Read the data from this google sheet (https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing) into a dataframe, df_google

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In a new python module, acquire.py:

1 - get_titanic_data: returns the titanic data from the codeup data science database as a pandas data frame.

2 - get_iris_data: returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.