# classification_exercises - The notebook will contain all your work 
                          # as you move through the exercises

  # and acquire.py - The acquire.py file should contain the final functions

            READ FROM EXTERNAL SOURCE... NOT PYDATA
            get from BAYES REPO - pull in as csv
1 - Use a python module containing datasets as a source from the iris data. 
Create a pandas dataframe, df_iris, from this data.

In [5]:
import pandas as pd
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

df = pd.read_sql('SELECT * FROM measurements', get_connection('iris_db'))

df.head(5)

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,1,5.1,3.5,1.4,0.2,1
1,2,4.9,3.0,1.4,0.2,1
2,3,4.7,3.2,1.3,0.2,1

- print the first 3 rows

In [6]:
print(df.head(3))

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id
0           1
1           1
2           1

- print the number of rows and columns (shape)

In [7]:
print(df.shape)

(150, 6)

- print the column names

In [9]:
# method 1
list(df.columns)

['measurement_id',
 'sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species_id']

In [10]:
# method 2
# iterating the columns 
for col in df.columns: 
    print(col)

measurement_id
sepal_length
sepal_width
petal_length
petal_width
species_id

- print the data type of each column

In [13]:
df.dtypes

measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
dtype: object

- print the summary statistics for each of the numeric variables. 
Would you recommend rescaling the data based on these statistics?
    No, the various measurements are all near scale

In [12]:
df.describe()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000

2 - Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [17]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df_excel = pd.read_excel('Excel_Exercises.xlsx')

print("Column headings:")
print(df_excel.columns)

Column headings:
Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

- assign the first 100 rows to a new dataframe, df_excel_sample

In [22]:
# method 1 - head
df_excel_sample = df_excel.head(100)

In [23]:
df_excel_sample.shape

(100, 12)

In [20]:
# method 2 - iloc
df_excel_sample = df_excel.iloc[:100]

In [21]:
df_excel_sample.shape

(100, 12)

- print the number of rows of your original dataframe

In [24]:
print(df_excel.count())

customer_id          7049
gender               7049
is_senior_citizen    7049
partner              7049
dependents           7049
phone_service        7049
internet_service     7049
contract_type        7049
payment_type         7049
monthly_charges      7049
total_charges        7038
churn                7049
dtype: int64

- print the first 5 column names

In [31]:
# method 1: get list of column name
list(df_excel.columns.values[:5])

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

In [43]:
# method 2 
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [34]:
df_excel.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
dtype: object

In [35]:
# another way to get column names
df_excel.dtypes.index

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

- print the column names that have a data type of object

In [75]:
     ### a way to print DF for specific DTypes
# df_excel.select_dtypes(['float64','int64'])
# [key for key in dict(df_excel.dtypes) if dict(df_excel.dtypes)[key] in ['object']]
#df_excel.select_dtypes.index(['object'])

# df_excel.dtypes == 'object'
# df_excel[key for key in dict(df_excel.dtypes) if dict(df_excel.dtypes)[key] in ['float64', 'int64']]

# df_excel.dtypes.index

# df_excel.select_dtypes(include=['float64','int64']).min()

# df_excel.dtypes[df_excel.dtypes == 'object']

# df_excel.select_dtypes(include=['float64'])  # 'float64', 'int64']

- compute the range for each of the numeric variables.

In [61]:
   # this might not be exactly what was wamted
df_excel.select_dtypes(include=['float64','int64']).index

RangeIndex(start=0, stop=7049, step=1)

In [66]:
df_excel_sample.select_dtypes(['int64', 'float64']).max() - df_excel_sample.select_dtypes(['int64', 'float64']).min()

is_senior_citizen       1.00
phone_service           2.00
internet_service        2.00
contract_type           2.00
monthly_charges        97.40
total_charges        8476.85
dtype: float64

3 - Read the data from this google sheet (https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing) into a dataframe, df_google

In [80]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'    

csv_test = pd.read_csv(sheet_url)

ParserError: Error tokenizing data. C error: Expected 12 fields in line 5, saw 13

In [82]:
import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'    

#csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
# C error: Expected 12 fields
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head()

ParserError: Error tokenizing data. C error: Expected 12 fields in line 5, saw 13

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In a new python module, acquire.py:

1 - get_titanic_data: returns the titanic data from the codeup data science database as a pandas data frame.

2 - get_iris_data: returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.