wrangle.py exercises

Acquisition and Prep

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env

from scipy import stats
from math import sqrt

DESCRIBE customers;

customer_id	char(10)	NO	PRI	NULL	
gender	text	YES		NULL	
senior_citizen	bigint(20)	YES		NULL	
partner	text	YES		NULL	
dependents	text	YES		NULL	
tenure	bigint(20)	YES		NULL	
phone_service	text	YES		NULL	
multiple_lines	text	YES		NULL	
internet_service_type_id	bigint(20)	YES	MUL	NULL	
online_security	text	YES		NULL	
online_backup	text	YES		NULL	
device_protection	text	YES		NULL	
tech_support	text	YES		NULL	
streaming_tv	text	YES		NULL	
streaming_movies	text	YES		NULL	
contract_type_id	bigint(20)	YES	MUL	NULL	
paperless_billing	text	YES		NULL	
payment_type_id	bigint(20)	YES	MUL	NULL	
monthly_charges	double	YES		NULL	
total_charges	text	YES		NULL	
churn	text	YES		NULL

1 Acquire customer_id, monthly_charges, tenure, and total_charges
from telco_churn database for all customers with a 2 year contract.

In [84]:
# db = "telco_churn"

def get_db_url(db):
    return f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{db}'


# url_telco_churn = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/telco_churn'

In [85]:
query = '''
SELECT customer_id, monthly_charges, tenure, total_charges
FROM customers
WHERE contract_type_id = 3;
'''

In [86]:
telco_churn = pd.read_sql(query, get_db_url("telco_churn"))

In [87]:
telco_churn.head()

  customer_id  monthly_charges  tenure total_charges
0  0013-SMEOE           109.70      71       7904.25
1  0014-BMAQU            84.65      63        5377.8
2  0016-QLJIS            90.45      65        5957.9
3  0017-DINOC            45.20      54       2460.55
4  0017-IUDMW           116.80      72       8456.75

In [88]:
telco_churn.dtypes

customer_id         object
monthly_charges    float64
tenure               int64
total_charges       object
dtype: object

In [89]:
telco_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1695 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.0+ KB

In [90]:
telco_churn.shape

(1695, 4)

In [91]:
# check for null
print(telco_churn.isnull().sum())

customer_id        0
monthly_charges    0
tenure             0
total_charges      0
dtype: int64

In [92]:
# print(df.columns[df.isnull().any()])
print(telco_churn.columns[telco_churn.isnull().any()])

Index([], dtype='object')

In [93]:
telco_churn.total_charges.sort_values()

524
416
678
234
941
453
505
1293
726
716
428      100.35
1398    1004.35
109      1005.7
570      1006.9
1248     1008.7
105      1013.2
1376    1014.25
1288     1016.7
778     1020.75
1627     1022.6
461     1023.95
1058       1024
227     1024.65
867      1024.7
212     1025.05
1186    1027.25
264     1028.75
159      1029.8
617      1031.1
599      1031.7
         ...
876      907.05
623      908.15
1677        916
1394     916.15
85       917.45
827      921.55
455       927.1
863       929.2
515       930.9
1518     930.95
1568      935.9
873      936.85
1661      937.1
1167        943
848       945.7
278       948.9
922       949.8
1136     958.15
1055      96.85
1638     963.95
61       967.85
758       967.9
1517     970.85
1636      973.1
45       973.35
731      973.95
442         978
582      980.35
714      982.95
1503     987.95
Name: total_charges, Length: 1695, dtype: object

In [94]:
### view the index
telco_churn.total_charges[524]
# should return
 # ' '

' '

In [ ]:
# could strip
# new_telco_df = telco_churn.total_charges.str.strip().replace('', np.nan).astype(float)

In [ ]:
## way to search for them
#  new_telco_df[new_telco_df.total_charges.isna()]

In [68]:
telco_churn.total_charges.value_counts(sort=True, ascending=False)

           10
1161.75     2
7334.05     2
844.45      2
3533.6      2
343.45      2
5682.25     2
1110.05     2
5714.2      2
6328.7      1
3623.95     1
894.3       1
3281.65     1
1225.65     1
3505.1      1
1311.75     1
5330.2      1
1593.1      1
5163.3      1
1319.95     1
1538.6      1
4089.45     1
3058.15     1
6910.3      1
4375.8      1
1460.85     1
4995.35     1
1029.8      1
3126.45     1
3483.45     1
           ..
1888.25     1
759.35      1
5215.25     1
1211.65     1
6322.1      1
6042.7      1
7015.9      1
6562.9      1
1524.85     1
602.9       1
5437.75     1
6224.8      1
1108.2      1
4519.5      1
5538.35     1
5708.2      1
862.4       1
5574.35     1
5589.45     1
1554.9      1
1680.25     1
7082.5      1
5959.3      1
1750.7      1
6741.15     1
1245.05     1
6172        1
1748.55     1
5265.55     1
7250.15     1
Name: total_charges, Length: 1678, dtype: int64

In [70]:
telco_churn.total_charges.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [71]:
telco_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.0+ KB

In [73]:
telco_churn.describe()

       monthly_charges       tenure
count      1695.000000  1695.000000
mean         60.770413    56.735103
std          34.678865    18.209363
min          18.400000     0.000000
25%          24.025000    48.000000
50%          64.350000    64.000000
75%          90.450000    71.000000
max         118.750000    72.000000

In [ ]:
# df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'],errors='coerce')

In [75]:
telco_churn['total_charges'] = pd.to_numeric(telco_churn['total_charges'], errors='coerce')

In [76]:
telco_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.0+ KB

In [77]:
telco_churn2 = telco_churn.dropna()

In [79]:
telco_churn2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB

2 Walk through the steps above using your new dataframe. You may 
handle the missing values however you feel is appropriate.

3 End with a python file wrangle.py that contains the function, 
wrangle_telco(), that will acquire the data and return 
a dataframe cleaned with no missing values.