my regression pipeline
    this is the REGRESSION Section Parts

# Preprocessing: Split and Scale

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import math

import wrangle
import env

from sklearn.preprocessing import StandardScaler, PowerTransformer, MinMaxScaler, RobustScaler, QuantileTransformer
from sklearn.model_selection import train_test_split

Loading the wrangle.py which will load the telco_churn data

In [2]:
df = wrangle.wrangle_telco()

BEGINNING OF WRANGLE OUTPUTS



customer_id         object
monthly_charges    float64
tenure               int64
total_charges       object
dtype: object



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.0+ KB



++++++++++++++++++++
NOTE: variable change to 'telco_churn2
++++++++++++++++++++
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB



END OF WRANGLE OUTPUT - RETURNING 'telco_churn2

quick viz / quick stats

In [12]:
df.shape

(1685, 4)

In [3]:
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB

In [7]:
df.describe()

       monthly_charges      tenure  total_charges
count      1685.000000  1685.00000    1685.000000
mean         60.872374    57.07181    3728.933947
std          34.712210    17.72913    2571.252806
min          18.400000     1.00000      20.350000
25%          24.050000    48.00000    1278.800000
50%          64.450000    64.00000    3623.950000
75%          90.550000    71.00000    5999.850000
max         118.750000    72.00000    8672.450000

Make X and y

In [8]:
X = df.drop(columns=['customer_id', 'total_charges'])
y = df.total_charges

In [11]:
print("X is :", type(X))
print("-" * 10)
print("y is :",type(y))

X is : <class 'pandas.core.frame.DataFrame'>
----------
y is : <class 'pandas.core.series.Series'>

return y to a dataframe

In [13]:
y = y.to_frame()

In [14]:
type(y)

pandas.core.frame.DataFrame

# 1 split_my_data()

In [16]:
seed = 42
train_size = .75
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=train_size, random_state=seed)

In [20]:
print(type(X_train), "-- Shape: ", X_train.shape)
print("-" * 10)
print(type(X_test), "-- Shape: ", X_test.shape)
print("-" * 10)
print(type(y_train), "-- Shape: ", y_train.shape)
print("-" * 10)
print(type(y_test), "-- Shape: ", y_test.shape)

<class 'pandas.core.frame.DataFrame'> -- Shape:  (1263, 2)
----------
<class 'pandas.core.frame.DataFrame'> -- Shape:  (422, 2)
----------
<class 'pandas.core.frame.DataFrame'> -- Shape:  (1263, 1)
----------
<class 'pandas.core.frame.DataFrame'> -- Shape:  (422, 1)

In [22]:
  # splitting just to TRAIN and TEST
    # THIS IS NOT WORKING
    # check later why - continue with all 4 for now
#seed = 42
#train_size = .75
#train1, test1 = train_test_split(X, y, train_size=train_size, random_state=seed)

In [ ]:
# print(type(train1), "-- Shape: ", X_train.shape)
# print("-" * 10)
# print(type(test1), "-- Shape: ", X_test.shape)

# 2 standard_scaler()

In [23]:
from sklearn.preprocessing import StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler
import math

In [54]:
# set scales - X only!!!  no y (aka target)
scaler_train = StandardScaler(copy=True, with_mean=True, with_std=True).fit(X_train)
scaler_test = StandardScaler(copy=True, with_mean=True, with_std=True).fit(X_test)

train_scaled = pd.DataFrame(scaler_train.transform(X_train), columns=X_train.columns.values).set_index([X_train.index.values])
test_scaled = pd.DataFrame(scaler_test.transform(X_test), columns=X_test.columns.values).set_index([X_test.index.values])

print("scaler_train :", type(scaler_train))
print("-" * 10)
print("scaler_test :", type(scaler_test))
#scaler_train, scaler_test, train_scaled, test_scaled

scaler_train : <class 'sklearn.preprocessing.data.StandardScaler'>
----------
scaler_test : <class 'sklearn.preprocessing.data.StandardScaler'>

In [46]:
train_scaled.head()

      monthly_charges    tenure
1226        -0.494534  0.263222
293         -1.188854  0.206354
1277        -0.349581  0.263222
1480        -1.200450  0.433826
596          1.404340  0.376958

In [47]:
test_scaled.head()

      monthly_charges    tenure
1206        -1.058020  0.818829
1174         1.453716  0.708360
572          0.523496  0.763595
49           0.373415  0.874063
1535         0.400316  0.266486

In [58]:
print("train shape :", train_scaled.shape)
print("-" * 10)
print("test shape :", test_scaled.shape)

train shape : (1263, 2)
----------
test shape : (422, 2)

In [48]:
# 3 scale_inverse() 
# - NOTE... could just use/re-use initial variables for restored, de-scaled values
# def my_inv_transform(scaler, train_scaled, test_scaled):

re_train = pd.DataFrame(scaler_train.inverse_transform(train_scaled),\
columns=train_scaled.columns.values).set_index([train_scaled.index.values])

re_test = pd.DataFrame(scaler_test.inverse_transform(test_scaled),\
columns=test_scaled.columns.values).set_index([test_scaled.index.values])

print("re_train :", type(re_train))
print("-" * 10)
print("re_test :", type(re_test))

re_train : <class 'pandas.core.frame.DataFrame'>
----------
re_test : <class 'pandas.core.frame.DataFrame'>

In [59]:
print("re_train shape :", re_train.shape)
print("-" * 10)
print("re_test :", re_test.shape)

re_train shape : (1263, 2)
----------
re_test : (422, 2)

In [49]:
re_train.head()

      monthly_charges  tenure
1226            43.70    62.0
293             19.75    61.0
1277            48.70    62.0
1480            19.35    65.0
596            109.20    64.0

In [52]:
re_test.head()

      monthly_charges  tenure
1206            23.85    71.0
1174           112.55    69.0
572             79.70    70.0
49              74.40    72.0
1535            75.35    61.0

In [ ]:
# 4 uniform_scaler()
 # Scale to Uniform Distribution using the a QuantileTransformer
    # a non-linear transformer 
    # It smooths out unusual distributions, and it spreads out 
    # the most frequent values and reduces the impact of (marginal) outliers
# split_scale.scale_inverse(split_scale.split_my_data(X,y, )