my regression pipeline
    this is the REGRESSION Section Parts

# Preprocessing: Split and Scale

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import math

import wrangle
import env

from sklearn.preprocessing import StandardScaler, PowerTransformer, MinMaxScaler, RobustScaler, QuantileTransformer
from sklearn.model_selection import train_test_split

Loading the wrangle.py which will load the telco_churn data

In [2]:
df = wrangle.wrangle_telco()

BEGINNING OF WRANGLE OUTPUTS



customer_id         object
monthly_charges    float64
tenure               int64
total_charges       object
dtype: object



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.0+ KB



++++++++++++++++++++
NOTE: variable change to 'telco_churn2
++++++++++++++++++++
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB



END OF WRANGLE OUTPUT - RETURNING 'telco_churn2

quick viz / quick stats

In [3]:
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB

In [7]:
df.describe()

       monthly_charges      tenure  total_charges
count      1685.000000  1685.00000    1685.000000
mean         60.872374    57.07181    3728.933947
std          34.712210    17.72913    2571.252806
min          18.400000     1.00000      20.350000
25%          24.050000    48.00000    1278.800000
50%          64.450000    64.00000    3623.950000
75%          90.550000    71.00000    5999.850000
max         118.750000    72.00000    8672.450000

Make X and y

In [8]:
X = df.drop(columns=['customer_id', 'total_charges'])
y = df.total_charges

In [11]:
print("X is :", type(X))
print("-" * 10)
print("y is :",type(y))

X is : <class 'pandas.core.frame.DataFrame'>
----------
y is : <class 'pandas.core.series.Series'>

split_my_data